.container
    display: flex
    flex-direction: column
    justify-content: center
    min-width: 80%
    background: red
    a
        text-decoration: none
        color: green
    .content
        width: 80%
        margin: 0 auto
    nav
        display: flex
        justify-content: space-between
        .logo
            padding-top: 1%

    .list
        min-width: 60%
        display: flex
        justify-content: space-around
        list-style-type: none
    li
       list-style-type: none 

    .myphoto
        display: flex
        justify-content: space-between
        .photo
            width: 25%
            height: 25%
    .location, .email, .phone
        width: 15px
        height: 15px
    .instagram, .git
        width: 20px
        height: 20px
    main
        position: 
        

            // width: 150px
            // height: 150px
            // border-radius: 50%
        


