.container
    display: flex
    flex-direction: column
    justify-content: center
    max-width: 1026px
    margin: 0 auto
    background: white
    font-family: 'Work Sans', sans-serif;
    border: 4px solid SeaGreen
    box-sizing: border-box
    a
        text-decoration: none
        color: green
        transition: color 0.7s
    a:hover 
        color: #5d7260
    
    nav
        display: flex
        justify-content: space-between
        font-size: 24px
        flex-wrap: wrap
        .logo
            padding-top: 1%
            color: SeaGreen
            font-size: 30px
            padding-left: 3%
            font-family: 'Shizuru', cursive

        .list
            min-width: 90%
            display: flex
            justify-content: space-around
            list-style-type: none

    .item
        font-family: 'Yuji Hentaigana Akebono', cursive
       
    li
        list-style-type: none 
       
    h1, h2, h3
        font-family: 'Work Sans', sans-serif;
    h1
        font-size: 38px
    h2
        font-size: 18px
        color: #A9A9A9
    h3
        font-size: 22px
    h4
        font-size: 25px
        padding-left: 39%

    .myphoto
        display: flex
        justify-content: space-around
        .photo
            width: 18%
            height: 18%
            padding-top: 5%
    .global, .email, .phone
        width: 20px
        height: 20px
    .instagram, 
        width: 25px
        height: 25px
    .contacts
        padding-top: 7px
        float: left
        padding-right: 6px
    .Aboutme, p, .html
        text-align: center
        padding: 0 10px 0 10px
        text-indent: 20px
        line-height: 25px
    .education
        padding-top: 10px
    .year
        font-size: 12px
        color: #A9A9A9
    .lang, .skills
        padding-top: 10px
    
footer
    display: flex
    justify-content: space-between
    background:#DCDCDC
    align-items: center
    .footer_img
        width: 90px
        height: 90px
    .footer_item_rss
        padding-right: 1%

@media (max-width: 808px)
    .container
        border: 8px solid SeaGreen
        font-size: 20px
        nav
            font-size: 20px
        .myphoto
            flex-direction: column-reverse
            justify-content: center
            .photo
                width: 35%
                height: 35%
                padding-top: 2%
                padding-left: 33%
            h1
                padding-left: 32%
            h2
                padding-left: 37%
            h3
                padding-left: 6%
                font-size: 25px




    



        



